.App {
  text-align: center;
  font-family: Helvetica, sans-serif
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
form {
  display: inline;
}
.parentDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.allDivs{
  display: flex;
  border: 1px lightgrey solid;
  width: 450px;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.inpDivs{
  display: flex;
  border: 1px lightgrey solid;
  width: 450px;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
#mainInput{
  width: 300px;
}
.allDivs > Input {
  width: 300px;
  border: none;
}
#clear {
}
#active {
  margin: 5px;
  /* margin-right: 5px;
  margin-bottom: 5px; */
}
.tdfooter {
  font-size: 10px;

}
#toggle {
  margin: 5px;
}
